.mynetwork-container {
    display: flex;
    justify-content: center;
}

.left-menu {
    border: 1px solid;
    padding: 10px;
}

.side-menu-item {
    display: flex;
    flex-direction: row;
    padding: 2px 0;
    cursor: pointer;
}

.itme-svg {
    margin-right: 10px;
}
.main-section {
    width: 65%;
    border: 1px solid;
    margin-left: 20px;
}
h6.section-heading {
    margin: 0 0 10px;
}

.user-cards {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user-card-list {
    width: 32%;
    border: 1px solid;
    margin-bottom: 20px;
    padding: 6px;
    text-align: center;
}

.user-card-img {
    margin: 0 auto;
}

.user-card-info {
    display: flex;
    flex-direction: column;
}

.user-card-name {
    font-size: 18px;
    font-weight: 500;
}
.item-link {
    display: flex;
}
.user-card-headline, .user-card-connection {
    font-size: 14px;
}