.user-detail-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: -60px;
}

.user-info-container.right {
    width: 60%;
}

.edit-details-wrapper {
    float: right;
}

.add-details {
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    display: inline-flex;
    padding: 10px;
    margin: 0 10px 0 0;
}

.edit-details {
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    display: inline-flex;
    float: right;
    padding: 0;
    margin: 0 10px 0 0;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
}

.edit-details-wrapper svg {
    font-size: 20px;
}

.details {
    border: 1px solid #222;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
    background: #fff;
}
.user-details {
    border-top: 0;
    border-radius: 0 0 10px 10px;
}
.form-row {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 12px 0;
}

.form-data {
    width: 49%;
}

.basic-info-section select,
.Skill-info-section select {
    width: 98%;
    padding: 10px;
}

input[type="date"] {
    width: 99%;
    border: 1px solid #e5e5e5;
    padding: 10px;
}


.user-background-img img{
    width: 100vw;
    height: 38vh;
    object-fit: cover;
}
.my-profile-header {
    background: #fff;
    border: 1px solid #222;
    padding: 0px 10px;
    border-radius: 0;
    margin-bottom: 0px;
}

.my-profile-tabs {
    display: flex;
    background: #fff;
    border-radius: 0;
}

.profile-tabs {
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.profile-tabs.active {
    border-bottom: 2px solid;
}

.all-skills-list {
    padding: 10px;
    border: 1px solid #eee;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.skill-details {width: 90%;}
.skill-action {
    display: flex;
}
.skill-details {
    margin-right: auto;
}
.skill-label,.exp-label {
    margin-right: 10px;
}
.skil-name, .skil-level {
    font-weight: 500;
}