.user-detail-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.user-info-container.right {
    width: 60%;
}

.edit-details-wrapper {
    float: right;
}
.add-details {
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    display: inline-flex;
    padding: 10px;
    margin: 0 10px 0 0;
}
.edit-details {
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    display: inline-flex;
    float: right;
    padding: 0;
    margin: 0 10px 0 0;
    justify-content: center;
}
.edit-details-wrapper svg {
    font-size: 20px;
}
.details{
    border: 1px solid #222;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.form-row {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 12px 0;
}

.form-data {
    width: 49%;
}

.basic-info-section select {
    width: 98%;
    padding: 10px;
}
input[type="date"] {
    width: 99%;
    border: 1px solid #e5e5e5;
}
.edit-details>svg {
    width: 40%;
}